.singlecomment {
    
    
    padding: 10px 30px 10px 30px;
    margin: 10px;
    width: 25%;
    min-height: 200px;
    color: white;
    background-color: #0647A9;
    position: relative;
    
}
.singlecomment h3 {
    border-bottom: 2px solid white;
}
.comment-text p{
    margin-bottom: 100px;
}
.commentlikes {
    margin-top: 20px;
    padding: 0px 10px 10px 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 20px;
}
.commentlikes button {
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
}
.commentlikes button {
    border-radius: 10px;
    cursor: pointer;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.commentList {
    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    
    margin-bottom: 30px;
   
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.commentSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top right,#e9e9e9, fuchsia);
}
.inputfield {
    text-align: center;
    width: 100%;
}
.inputfield button {
    margin-top: 10px;
    background-color: white;
    color: black;
    transition-duration: 0.3s;
    padding: 4px 10px;
    border: 1px solid  black;
    border-radius: 6px;
    font-family: 'Poppins';
    cursor: pointer;
}
.inputfield button:hover {
    background-color: #0647A9;
    color: white;
}
textarea {
    font-size: 1.0em;
    font-family: 'Roboto';
    padding: 10px;
    outline: none;
    resize: none;
    margin-top: 20px;
    width: 25%;
}
.singlecomment button {
    font-family: 'Poppins';
    
}

@media only screen and (max-width: 1230px) {
    .commentList {
        width: 90%;
    }
    .singlecomment {
        width: 40%;
    }
    textarea {
        width: 40%;
    }
}
@media only screen and (max-width: 890px) {
    .singlecomment {
        width: 80%;
    }
    textarea {
        width: 60%;
    }
}