.singlecomment {
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;
    margin: 10px;
    width: 200px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.commentList {
    width: 60%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border: 1px solid black;
    margin-bottom: 30px;
}
.commentSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputfield {
    text-align: center;
}
.inputfield button {
    margin-top: 10px;
    background-color: white;
    color: black;
    transition-duration: 0.3s;
    padding: 4px 10px;
    border: 1px solid  black;
    border-radius: 6px;
}
.inputfield button:hover {
    background-color: #0647A9;
    color: white;
}
input {
    width: 300px;
}