.backround-container {
    padding-top: 60px;
    background-color: white;
    width: 100%;
    padding-bottom: 60px;
    background: linear-gradient(to bottom right,#e9e9e9, whitesmoke);
}

.faq-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
    text-align: center;
}

.answer-container {
    text-align: center;
    padding: 30px;
    width: 30%;
    background-color: #0647A9;
    color: white;
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
}

.faq-header-container {
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.faq-header {
    background-color: #0647A9;
    width: 40%;
    margin: 30px;
    padding: 20px;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 1100px) {
    .backround-container {
        padding-top: 60px;
    }
    .answer-container {
        width: 30%;
    }
}

@media only screen and (max-width: 850px){
    .backround-container {
        padding-top: 110px;
    }
    .answer-container {
        width: 60%;
    }
    .faq-header {
        margin: 20px;
    }
}

@media only screen and (max-width: 700 px) {
    .backround-container {
        padding-top: 110px;
    }
    .faq-container {
        width: 100%;
    }
    .answer-container {
        width: 80%;
    }
    .faq-header {
        margin: 20px;
        width: 60%;
    }
}

@media only screen and (max-width: 600px){
    .backround-container {
        padding-top: 130px;
    }
    .faq-container {
        width: 100%;
    }
    .answer-container {
        width: 80%;
    }
    .faq-header {
        margin: 20px;
        width: 60%;
    }
}

@media only screen and (max-width: 370px){
    .backround-container {
        padding-top: 160px;
    }
    .faq-container {
        width: 100%;
    }
    .answer-container {
        width: 80%;
    }
    .faq-header {
        margin: 20px;
        width: 60%;
    }
}