.fade-enter {
    opacity: 0.01;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.fade-exit {
    opacity: 1;
}
  
.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-out;
}

.transition-group {
    position: relative;
}
.route-section {
 position: absolute;
 width: 100%;
 top: 0;
 
}
.page-container {
    position: relative;
    min-height: 90vh;
    padding-bottom: 200px;
}