/* muotoilu ympäristö- ja turvallisuusosioita varten */

.yleis-container {
    margin-top: 60px;
    background-color: #e9e9e9;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
}

.text-container {
    text-align: center;
    padding: 30px;
    width: 40%;
    background-color: #0647A9;
    color: white;
    margin-top: 20px;
}
 a {
    color: white;
}

@media only screen and (max-width: 850px){
    .text-container {
        width: 60%;
    }
}

@media only screen and (max-width: 600px){
    .text-container {
        width: 80%;
    }
}